*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#franja1{
    background:  linear-gradient(to right, #002938,#004964);
    height:5vh;
}
#franja2{
    background: linear-gradient(to left,#004964,#0182b1);
    height:5vh;
}
#franja3{
    background: linear-gradient(to right,#0182b1,#b2eaff);
    height:5vh;  
}

#containerform{
    height: 70vh;
    background: linear-gradient(to right,#fff,#fff,#ececec,#f3f3f3,#ececec,#fff,#fff);
}
#idmensaje{
    height: 20vh;
}
.form-control{
    border: none;
}
#button{
    font-weight: bolder;
    color: #004964;
    padding: 10px;
    background-color: #B59C61;
    border: 0;
    border-radius:30px;
    box-shadow: 3px 2px 5px #a2a1a1;
}
.bimenu{
    color: #fff;
}
.biredes{
    color: #fff;
}
.binube{
    color: #004964;
}
#idbiredes{
    color: #fff;
}
#idbifacbook{
    color: #fff;
}

.link{
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
}
.rotulo{
    margin-top: 10px;
    line-height: 0;
}
.boxlogo{
    height:fit-content;
    width: fit-content;
}
.img-fluid{
    border-radius:30px;
    border:solid 5px #B59C61;
}
#logominjusticia{
    border: none;
}
#imglogoinpec{
    width: 20%;
    border: none;
    border-radius:0px;
    
}
#boxlogo{
    background: linear-gradient(to right,#fff,#fff,#B59C61,#fff,#fff);
}
#imgmapa{
    border: none;
}
