*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#franja1{
    background:  linear-gradient(to right, #40514e,#11999e);
    height:5vh;
}
#franja2{
    background: linear-gradient(to left,#11999e,#59fde7);
    height:5vh;
}
#franja3{
    background: linear-gradient(to right,#59fde7,#c3fff7);
    height:5vh;  
}
#colizq{
    background: linear-gradient(to right,#59fde7);
}

#containerform{
    height: 70vh;
    background: linear-gradient(to right,#fff,#fff,#ececec,#f3f3f3,#ececec,#fff,#fff);
}
#idmensaje{
    height: 20vh;
}
.form-control{
    border: none;
}
#button{
    color: #c3fff7;
    padding: 10px;
    background-color: #11999e;
    border: 0;
    border-radius:30px;
    box-shadow: 3px 2px 5px #a2a1a1;
}
.bimenu{
    color: #40514e;
}
.biredes{
    color: #c3fff7;
}
#idbiredes{
    color: #40514e;
}
#idbifacbook{
    color: #397a7c;
}
.link{
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
}